<!DOCTYPE html>
<html>
<title>Student-Performance-Prediction App</title>
<body>

<form action = "/getperformance" method="POST">
    <p> Select Gender:<input name="gender" type ="text" value="M" /> </p>
        <p> Select NationalITy: <input name="NationalITy" type ="text" value="KW" /> </p>
        <p> Select PlaceofBirth :
        <select name="PlaceofBirth">
            <option value="KuwaIT">KuwaIT </option>
                <option value="Egypt">Egypt </option>
                <option value="USA">USA</option>
                <option value="lebanon">lebanon</option>
                <option value="Syria" selected>Syria </option>
        </select>
        <p> Select StageID:<input name="StageID" type ="text" value="A" /> </p>
        <p> Select GradeID: <input name="GradeID" type ="text" value="G-04" /> </p>
        <p> Select SectionID: <input name="SectionID" type ="text" value="A" /> </p>
        <p> Select Topic: <input name="Topic" type ="text" value="IT" /> </p>
        <p> Select Semester: <input name="Semester" type ="text" value="F" /> </p>
        <p> Select Relation: <input name="Relation" type ="text" value="Father" /> </p>
        <p> Select raisedhands: <input name="raisedhands" type ="number" value="15" /> </p>
        <p> Select VisITedResources: <input name="VisITedResources" type ="number" value="25" /> </p>
        <p> Select AnnouncementsView: <input name="AnnouncementsView" type ="number" value="0" /> </p>
        <p> Select Discussion: <input name="Discussion" type ="number" value="70" /> </p>
        <p> Select ParentAnsweringSurvey: <input name="ParentAnsweringSurvey" type ="text" value="Yes" /> </p>
        <p> Select ParentschoolSatisfaction: <input name="ParentschoolSatisfaction" type ="text" value="Good" /> </p>
        <p> Select StudentAbsenceDays: <input name="StudentAbsenceDays" type ="text" value="Under-7" /> </p>


                    <p> <input type ="submit" value="submit" /> </p>
</form>
</body>
</html>
